// Font: Monteserrat (https://fonts.google.com/specimen/Montserrat)
// Background Color: f9fcff
// Sidebar Color: fafcff
// Blue/Green Gradients: 0db2c0  to 65d8b2
// Orange Gradients: f9736f to f9ae60
// Campaign Info Text Colors: 0db2c0
// Dark Blue Text Color: 515974

/*
  Basic Rules
  * not px, em or % or vh, vw
  * color often to be used should be set as $
  * don't write same code especially in different files
  *
*/

$primaryColor : #000;
$backgroundColor : #000;
// prefix for each browsers
$gradationGreen-moz: -moz-linear-gradient(left, #0db2c0, #65d8b2);
$gradationGreen-webkit: -webkit-linear-gradient(left, #0db2c0, #65d8b2);
$gradationGreen-linear: linear-gradient(to right, #0db2c0, #65d8b2);
$gradationOrange-moz: -moz-linear-gradient(left, #f9736f, #f9ae60);
$gradationOrange-webkit: -webkit-linear-gradient(left, #f9736f, #f9ae60);
$gradationOrange-linear: linear-gradient(to right, #f9736f, #f9ae60);

body{
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "メイリオ","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-family: "Montserrat";
  line-height: 24px;
  color: #333;
  margin: 0;
  padding: 0;
  background: $backgroundBlue;
}

img{
  width: 100%;
  height: auto;
}

// each heading setting
.heading1{
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 0.4em;
}
.heading2{
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 0.4em;
}
.heading3{
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 0.4em;
}

/***********************
css for each effect
************************/
.box-shadow-effect{
  box-shadow: -10px 0 12px -13px inset;
}
.use-vertical-align{
  vertical-align: middle;
  height: 400px;
  display: table-cell;
}

// modal
.paymentContainer {
    width: 100%;
    height: 100%;
    background: rgba(58, 58, 58, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.paymentPopup {
    border-radius: 20px;
    width: 50%;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    margin-top: 6em;
    padding: 0;
    position: relative;
}

.rank-dropDown{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@media only screen and (max-width: 640px){

}
