// Font: Monteserrat (https://fonts.google.com/specimen/Montserrat)
// Background Color: f9fcff
// Sidebar Color: fafcff
// Blue/Green Gradients: 0db2c0  to 65d8b2
// Orange Gradients: f9736f to f9ae60
// Campaign Info Text Colors: 0db2c0
// Dark Blue Text Color: 515974

/*
  Basic Rules
  * not px, set em or % or or vh, vw
  * color should be set as $
  * don't write same code in several files
  * set a comment
*/

// webkit- ⇒ Google Chrome, Safari
// 「-ms- ⇒ IE

$primaryColor : #000;
$backgroundColor : #000;
// prefix for each browsers
$gradationGreen-moz: -moz-linear-gradient(left, #0db2c0, #65d8b2);
$gradationGreen-webkit: -webkit-linear-gradient(left, #0db2c0, #65d8b2);
$gradationGreen-linear: linear-gradient(to right, #0db2c0, #65d8b2);
$gradationOrange-moz: -moz-linear-gradient(left, #f9736f, #f9ae60);
$gradationOrange-webkit: -webkit-linear-gradient(left, #f9736f, #f9ae60);
$gradationOrange-linear: linear-gradient(to right, #f9736f, #f9ae60);

body{
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "メイリオ","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-family: "Montserrat";
  line-height: 24px;
  color: #333;
  margin: 0;
  padding: 0;
  background: $backgroundBlue;
}

img{
  width: 100%;
  height: auto;
}

// each heading setting
.heading1{
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 0.4em;
}
.heading2{
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 0.4em;
}
.heading3{
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 0.4em;
}

/***********************
css for each effect
************************/
.box-shadow-effect{
  box-shadow: -10px 0 12px -13px inset;
}

.use-vertical-align{
  vertical-align: middle;
  height: 400px;
  display: table-cell;
}

// modal
.paymentContainer {
    width: 100%;
    height: 100%;
    background: rgba(58, 58, 58, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.paymentPopup {
    border-radius: 20px;
    width: 50%;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    margin-top: 6em;
    padding: 0;
    position: relative;
}

.rank-dropDown{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

tr:nth-child(odd){
  background: #fff;
}
tr:nth-child(1){
  background: $backgroundGrey;
}
tr:nth-child(even){
  background: #fff;
}

// baloon
.balloon1 {
 	position: relative;
	display: inline-block;
 	margin: 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #e0edff;
}
.balloon1:before{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
 	margin-left: -15px;
	border: 15px solid transparent;
	border-top: 15px solid #e0edff;
}
.balloon1 p {
	margin: 0;
	padding: 0;
}

// placeholder color
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}

// background setting
// background-color	背景色
// background-image	背景画像
// background-repeat	背景画像の繰り返し方法
// background-attachment	背景画像のスクロール方法
// background-position	背景画像の表示位置
#d_background1 {
	background:#ff6699 url(/content/img/pattern.jpg) repeat 0 0;
	padding:20px;
	color:#fff;
	font-weight:bold;
	text-align:center;
}

.box-balloon {
  position: relative;
  width: 100%;
  max-width: 480px;
  padding: 15px;
  border: 6px solid #279ee9;
  border-radius: 6px;
  margin-bottom: 42px; /* 三角形画像の高さ + 下に取りたい余白の大きさ */
}
.box-balloon::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -32px;
  width: 34px;
  height: 32px;
  margin-left: -17px; /* 三角形画像の幅の半分 */
  background: url("/common/images/ico_baloon_tip_01.png") top left no-repeat;
  background-size: 34px 32px;
}
.box-balloon > p {
  font-weight: bold;
  line-height: 2.0;
}

// set border-spacing
.table-spacing {
  border: 2px #000000 solid;
  border-collapse: separate;
  border-spacing: 5px;
}

// set the center in element
.element-center {
  color: #fff;
  background-color:#f00;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

// how to use before, after
p:before {
    content: url(../img/es_logo.png);
    margin: 10px;
    position: relative;
    top: 8px;
}

p:after {
    content: url(../img/es_logo.png);
    margin: 10px;
    position: relative;
    top: 8px;
}

.border-dotted{
  background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 4px);
  background-size: 5px 1px;
  background-position: top;
  background-repeat: repeat-x;
}

// select hide
.select-hide {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
.select-hide::-ms-expand {
  display: none;
}

// vertical-align
// table cell, available for inline level element, not available for float,
.float-parent{
  position: relative;
	width: 300px;
	height: 300px;
}
.float-child{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100px;
	height: 100px;
}

// graduation for text
.graduation-text{
  color: #ACB6E5;
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media only screen and (max-width: 640px){

}
